$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../iconfonts/" !default;

$_icon-gift: "\e900";
$_icon-pay: "\e901";
$_icon-delete: "\e902";
$_icon-compare: "\e903";
$_icon-work-time: "\e904";
$_icon-shopping-cart-1: "\e905";
$_icon-shopping-cart-2: "\e906";
$_icon-account: "\e907";
$_icon-search: "\e908";
$_icon-delivery: "\e909";
$_icon-plus: "\e90a";
$_icon-arrow-bottom: "\e90b";
$_icon-lamel: "\e90c";
$_icon-category: "\e90d";
$_icon-thickness: "\e90e";
$_icon-width: "\e90f";
$_icon-length: "\e910";
$_icon-lamel-type-1: "\e911";
$_icon-lamel-type-2: "\e912";
$_icon-bookmark: "\e913";

